__pycache__/
*.pyc

.venv/
venv/
ml_env/
airflow_env/
air_env/

.git/
.vscode/
.pytest_cache/

logs/
mlruns/

datasets/
data/

models/*.cbm
database/*.db
*.db

.minio.sys/
**/.minio.sys/
minio
minio.1

*.log
.env

prometheus-*.tar.gz
prometheus-*.linux-amd64/

docker-compose.yml