__pycache__/
*.pyc

.venv/
venv/
ml_env/
airflow_env/
air_env/
.vscode/
.pytest_cache/

logs/
mlruns/

datasets/

models/*.cbm
database/*.db

data/

.minio.sys/
**/.minio.sys/
minio
minio.1

*.log
.env


# Prometheus downloaded binaries
prometheus-*.tar.gz
prometheus-*.linux-amd64/
